---
layout: ""
page_title: "Provider: Mayan Edms"
description: |-
  The Mayan Edms provider provides resources to interact with the Mayan Edms API.
---

# Mayan Edms

The Mayan Edms provider provides resources to interact with the Mayan Edms API.

## Example Usage

{{tffile "examples/provider/provider.tf"}}

{{ .SchemaMarkdown | trimspace }}